<!doctype html>
<html lang="id">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<meta name="google-site-verification" content="oNRjU30FTz1XeTRc8H-7DkXprtpY-S3OTt3oVXpW_3o" />
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S3QXESY0HT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-S3QXESY0HT');
</script>

<script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
(function(){var i=window,j="fc1111cd0be73df8006e19352d5f6074",w=[["siteId",258*268+81+4740791],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],d=["d3d3LmFudGlhZGJsb2Nrc3lzdGVtcy5jb20vWURmZ2wvWndZSmQvcGFuaW1hLm1pbi5qcw==","ZDNjb2Q4MHRobjdxbmQuY2xvdWRmcm9udC5uZXQvd3Bvc3RhbC5taW4uanM="],q=-1,u,l,h=function(){clearTimeout(l);q++;if(d[q]&&!(1757561395000<(new Date).getTime()&&1<q)){u=i.document.createElement("script");u.type="text/javascript";u.async=!0;var k=i.document.getElementsByTagName("script")[0];u.src="https://"+atob(d[q]);u.crossOrigin="anonymous";u.onerror=h;u.onload=function(){clearTimeout(l);i[j.slice(0,16)+j.slice(0,16)]||h()};l=setTimeout(h,5E3);k.parentNode.insertBefore(u,k)}};if(!i[j]){try{Object.freeze(i[j]=w)}catch(e){}h()}})();
/*]]>/* */
</script>

<meta name="author" content="Ruang Imajinasi">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="publisher" content="Ruang Imajinasi">
<meta name="distribution" content="global">
<meta http-equiv="copyright@ 2023 Ruang Imajinasi" content="Ruang Imajinasi">
<meta name="webcrawlers" content="all">
<meta name="rating" content="adult">
<meta name="rating" content="RTA-5042-1996-1400-1577-RTA">
<meta name="spiders" content="all">
<meta name="copyright" content="Ruang Imajinasi">
<meta name="revisit-after" content="2">
<meta name="Slurp" content='all'>
<meta name="DC.Publisher" content="Ruang Imajinasi">
<meta name="msapplication-TileColor" content="#2d2c4d">
<meta name="msapplication-TileImage" content="assets/img/favicon.jpg">
<meta name="theme-color" content="#2d2c4d">
<meta name="description" content="Ruang Imajinasi adalah tempat nonton movie terbaru, paling komplit & pastinya selalu update setiap hari.">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="425">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image" content="https://telegra.ph/file/a76ddd04fa94896d8cc8c.png">
<meta name="og:image:alt" content="Ruang Imajinasi | Nonton Bokep & Cari Asupan Terlengkap">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Ruang Imajinasi | Nonton Bokep & Cari Asupan Terlengkap">
<meta property="og:url" content="https://ruangmovie.github.io">
<meta property="og:title" content="Ruang Imajinasi | Nonton Bokep & Cari Asupan Terlengkap">
<meta property="og:description" content="Ruang Imajinasi adalah tempat nonton movie terbaru, paling komplit & pastinya selalu update setiap hari.">
<meta property="og:locale" content="id_ID" />
<meta property="og:type" content="article" />
<meta name="twitter:title" content="Ruang Imajinasi | Nonton Bokep & Cari Asupan Terlengkap">
<meta name="twitter:description" content="Ruang Imajinasi adalah tempat nonton movie terbaru, paling komplit & pastinya selalu update setiap hari.">
<meta name="twitter:image" content="https://telegra.ph/file/a76ddd04fa94896d8cc8c.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:label1" content="Diupload oleh" />
<meta name="twitter:data1" content="Ruang Imajinasi" />
<meta name="googlebot" content="index,follow">
<meta name="Googlebot-Image" content="index,follow">
<meta name="Scooter" content="index,follow">
<meta name="msnbot" content="index,follow">
<meta name="alexabot" content="index,follow">
<meta name="Slurp" content="index,follow">
<meta name="ZyBorg" content="index,follow">
<meta name="yahoobot" content="index,follow">
<meta name="bingbot" content="index,follow">
<meta name="expires" content="never">
<meta content='Indonesia' name='geo.placename'>
<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' >
<link rel="icon" href="assets/img/favicon.jpg">
<link rel="apple-touch-icon" href="assets/img/apple-touh-icon.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="assets/css/app.css">

<title>Ruang Imajinasi | Nonton Bokep & Cari Asupan Terlengkap</title>

</head>
<body>

<a id="goTop">
  <i class="fa fa-chevron-up my-float text-white"></i>
</a>

<a href="#" class="pesan" data-bs-toggle="offcanvas" data-bs-target="#request">
  <i class="fa fa-envelope my-pesan"></i>
</a>

<nav class="navbar container fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand position-absolute top-0 start-50 translate-middle-x" href="#">
      <img src="assets/img/logo.png" class="my-logo" alt="Logo" width="230" height="32">
    </a>
    <!--<button type="button" data-bs-toggle="modal" data-bs-target="#cari-bokep" class="navbar-toggler border-0" style="font-size:1.3em;color:#fff;margin-right:-7px" onclick="ads()"><i class="fas fa-search"></i>
    </button>-->
  </div>
</nav>

<div class="container" style="margin-top:-8px;margin-bottom:-13px">
  <div class="blocks blocks--horizontal mt-1 mb-0" id="menu" style="margin-left:-15px">
    <div class="block"><a href="bugil.html" onclick="ads()"><img src="assets/img/bugil.png" alt="" class="block__image" /><h5 class="block__title">Pap Bugil</h5></a></div>
    <div class="block"><a href="bokep.html" onclick="ads()"><img src="assets/img/bokep.png" alt="" class="block__image" /><h5 class="block__title">Bokep Viral</h5></a></div>
    <div class="block"><a href="cersex.html" onclick="ads()"><img src="assets/img/cersex.png" alt="" class="block__image" /><h5 class="block__title">Cerita Sex</h5></a></div>
    <div class="block"><a href="sexclips.html" onclick="ads()"><img src="assets/img/clips.png" alt="" class="block__image" /><h5 class="block__title">Sex Clips</h5></a></div>
    <div class="block"><a href="semi.html" onclick="ads()"><img src="assets/img/semi.png" alt="" class="block__image" /><h5 class="block__title">Bokep Semi</h5></a></div>
    <div class="block"><a href="komik.html" onclick="ads()"><img src="assets/img/komik.png" alt="" class="block__image" /><h5 class="block__title">Komik ++</h5></a></div>
    <div class="block"><a href="apk.html" onclick="ads()"><img src="assets/img/apps.png" alt="" class="block__image" /><h5 class="block__title">Apk Hot</h5></a></div>
    <div class="block"><a href="desah.html" onclick="ads()"><img src="assets/img/desah.png" alt="" class="block__image" /><h5 class="block__title">Desahan</h5></a></div>
    <div class="block"><a href="sexy.html" onclick="ads()"><img src="assets/img/cewek.png" alt="" class="block__image" /><h5 class="block__title">Sexy Girls</h5></a></div>
  </div>
</div>

<div class="container" style="margin-top:10px">
  <div style="margin-top:20px" id="data-bokep">
    
  </div>
  <div class="menupage">
    <div id="page-bokep"></div>
  </div>
</div>

<div class="modal" id="cari-bokep" tabindex="-1" aria-labelledby="cari-bokepLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content text-white" style="background-color:#2d2c4d">
      <div class="modal-header" style="border-style:none;">
        <div>
          <form>
    			<div class="form-group">
    				<input id="searchText" class="form-control" type="text" placeholder="Pencarian">
      			<label style="display:none">
      					<select id="searchField">
      						<option value="title">Folder</option>
      					</select>
      			</label>
    			</div>
    		</form>
  		  <script id="results" type="text/x-handlebars-template">
        	{{#each this}}
        	<div class="row sort-item container mb-2" data-title="{{title}}" data-link="{{link}}" data-img="{{poster}}">
        		<div class="row mt-4" id="video-bokep"><div class="col-2"><img src="{{poster}}" style="object-fit:cover;width:50px;height:50px;margin-top:5px;margin-left:-5px;float:left;border-radius:10%;"></div><div class="col-7"><b style="text-align:left" id="judul-bokep">{{title}}</b></div><div class="col-3" style="padding-right:10px"><a href="https:\/\/dood.re\/e\/{{link}}" onclick="ads()" target="_blank"><button type="button" id="tombol" style="color:white;margin-top:15px"><b>PLAY</b></button></a></div></div>
        	</div>
        	{{/each}}
        </script>
        </div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="text-align:center;padding-bottom:60px">
          <div class="mt-3" style="text-align:left" id="output"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas container offcanvas-bottom" tabindex="-1" id="request" aria-labelledby="requestLabel" style="height:260px">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Lapor Link Rusak</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <div id="donasi">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="alert alert-success alert-dismissible fade show d-none my-alert mb-2" role="alert">
              <strong>Terima Kasih!</strong> Pesan anda sudah kami terima.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <form name="ruang-imajinasi-form">
              <div class="mb-3">
                <textarea class="form-control" id="pesan" rows="4" name="pesan" placeholder="Tulis pesan"></textarea>
              </div>
              
              <div align="center">
                <button type="submit" class="btn btn-primary btn-kirim">Kirim</button>

                <button class="btn btn-primary btn-loading d-none" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
                </button>
              </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom bg-light" style="height:50px">
  <div class="position-absolute top-0 start-50 translate-middle-x" style="background-color:transparent">
    <script type="text/javascript">
    	atOptions = {
    		'key' : 'c15289d48b5ee0faa2f0386873a3a94c',
    		'format' : 'iframe',
    		'height' : 50,
    		'width' : 320,
    		'params' : {}
    	};
    </script>
    <script type="text/javascript" src="//www.topcreativeformat.com/c15289d48b5ee0faa2f0386873a3a94c/invoke.js"></script>
  </div>
</nav>

<!--<nav class="navbar fixed-bottom bg-light" style="height:94px">
  <div id="iklan">
    <div id="ad"></div>
  </div>
</nav>-->

<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="assets/js/pagination.min.js"></script>
<script src="assets/js/all.js"></script><script src='assets/js/code.min.js'></script>
<script src="https://use.fontawesome.com/1744f3f671.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js"></script>
<script src="database/video.js"></script>
<script src="database/ads.js"></script>
  
  <script>
    var btn = $('#goTop');
    $(window).scroll(function() {
      if ($(window).scrollTop() > 300) {
        btn.addClass('show');
      } else {
        btn.removeClass('show');
      }
    });
    btn.on('click', function(e) {
      e.preventDefault();
      $('html, body').animate({scrollTop:0}, '300');
    });
  </script>
  
  <script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbz6w7533jPj_886a8pPF6wTSHxr4_AoCdLgDTdrz1JZcQhQMtA/exec';
    const form = document.forms['ruang-imajinasi-form'];
    const btnKirim = document.querySelector('.btn-kirim');
    const btnLoading = document.querySelector('.btn-loading');
    const myAlert = document.querySelector('.my-alert');
    
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      btnLoading.classList.toggle('d-none');
      btnKirim.classList.toggle('d-none');
      fetch(scriptURL, { method: 'POST', body: new FormData(form) })
        .then((response) => {
          btnLoading.classList.toggle('d-none');
          btnKirim.classList.toggle('d-none');
          myAlert.classList.toggle('d-none');
          form.reset();
          console.log('Success!', response);
        })
        .catch((error) => console.error('Error!', error.message));
    });
  </script>
  
  <script>
    $(function () {
      let container = $('#page-bokep');
      container.pagination({
      pageSize: 30,
      showPageNumbers: false,
      showNavigator: true,
      formatNavigator: 'Hal. ke-<span style="color: #f00"><b><%= currentPage %></span></b>, <b><%= totalPage %></b> Halaman, <b><%= totalNumber %></b> Video',
      showGoInput: true,
      showGoButton: true,
      formatGoInput: 'Menuju halaman ke- <%= input %>',
      position: 'top',
      className: 'paginationjs-theme-blue',
      dataSource: video,
      
      callback: function (data, pagination) {
          var dataHtml = '';
      $.each(data, function (index, item) {
        let random = video[Math.floor(Math.random() * video.length)];
          dataHtml += `<a href="https://dooood.com/e/` + random.link + `" onclick="ads()"><img id="poster" src="` + random.poster + `" onerror="this.onerror=null;this.src='assets/img/error.png'" alt="" width="100%" height="100%" style="object-fit:cover;aspect-ratio:16/9"></a><div class="row sort-item" style="margin-bottom:30px"><div class="row"><div class="col-2"><img src="assets/img/favicon.jpg" style="object-fit:cover;width:37px;height:37px;margin-top:10px;float:left;border-radius:50%;"></div><div class="col-9"><span id="judul-bokep" style="text-align:left;margin-left:-17px;margin-top:10px"><b>`+ random.title +`</b></span></div><div class="col-1"><a href="https://dooood.com/d/`+ random.link +`" target="_blank" style="color:black"><i class="fa fa-download" aria-hidden="true" style="margin-top:15px;float:right;margin-right:-20px;color:black;font-size:12pt"></i></a></div></div><div class="col-10" style="margin-left:68px"></div></div></div>`;
              });
    
              $("#data-bokep").html(dataHtml);
            }
        })
      })
  </script>
  
</body>
</html>