html, body {
  overflow-x: hidden;
  width:100%;
  padding-bottom:25px;
}
.navbar{
  height:55px;
  background-color: #2d2c4d;
}
.mylogo{width:230px;height:32px;margin-top:11px}
*, ::after, ::before {
    box-sizing: border-box;
    -webkit-box-shadow: none !important;
}
::-webkit-scrollbar {
    display: none;
}
@media (min-width: 400px) {
  .movie-card {
    width: 16.66%;
    float: left;
  }
}
@media (max-width: 900px) {
  .movie-card {
    width: 50%;
    float: left;
  }
}
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
  src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
     url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
     url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size:15pt;
  margin-top:20px;
  margin-left:2px;
}
img {
  object-fit: cover;
}
#goTop {
  display: inline-block;
  background-color: #2d2c4d;
  width: 40px;
  height: 40px;
  text-align: center;a
  border-radius: 4px;
  position: fixed;
  bottom: 115px;
  right: 20px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius: 50%;
}
#goTop::after {
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 50px;
  color: #fff;
}
#goTop:hover {
  cursor: pointer;
  background-color: #333;
}
#goTop:active {
  background-color: #555;
}
#goTop.show {
  opacity: 1;
  visibility: visible;
}
.card {
  border-radius:0px;
  border:none;
  margin:-8px;
  margin-top:20px;
}
.card-img-top {
  border-radius:8px;
}
.card-title {
  display: inline-block;
  color:black;
  height:45px;
  margin-top:-25px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:11pt;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
         line-clamp: 2; 
  -webkit-box-orient: vertical;
}
.pesan{
	position:fixed;
	z-index: 999;
	width:40px;
	height:40px;
	bottom:65px;
	right:20px;
	background-color:#2d2c4d;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.my-pesan{
	margin-top:13px;
	font-size:1em;
}
#search-movie {
  font-size: 15px;
  border: 1px solid #ddd;
  background: #E9EEF0;
  border: 1px solid #D5D9DB;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 15px 10px;
  background-size: 16px 16px;
  width: 100%;
  border-radius: 5px;
  padding: .5em 2.5em .3em 3em;
} 
#search-movie::placeholder{
  color: #838D99;
}
#search-movie:focus {
  outline: none;
  background-color: #FFF;
  border: 1px solid #84A2FA;
}
[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}
.tombol {
  color:white;
  text-align: center;
  width: 35%;
  background: #2d2c4d;
  border-radius:20px;
  padding:5px;
}

.blocks{display:flex;flex:0 0 100%;max-width:160%;padding:0 4px 12px 12px}.blocks--horizontal{margin-bottom:-25px;margin-top:-5px;flex-wrap:nowrap;overflow-x:auto;justify-content:flex-start;-webkit-overflow-scrolling:touch}.blocks .block{flex:1 0 80px;max-width:80px}.blocks .block a{display:block;text-decoration:none;max-width:64px}.blocks .block .block__image{max-width:100%;height:100%;display:block;object-fit:cover;border:2px solid #c8c7cc;border-radius:50%;padding:3px;margin-bottom:6px}.block__title{height:13px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:1;line-clamp:1;-webkit-box-orient:vertical}.blocks .block .block__title{font-size:11px;font-weight:400;line-height:1.2;color:#fff;text-align:center;word-break:break-word}.blocks .block .block__button{margin:16px;padding:12px;border-radius:4px;display:flex;text-decoration:none;font-size:12px;font-weight:600;line-height:1.4;align-items:center;transition:background 225ms,color 375ms ease-out;border:1px solid rgba(0,122,255,.5);max-width:100%;align-items:center;justify-content:center;color:#007aff}.blocks .block .block__button:hover{background-color:#007aff;color:#fff}.blocks-header{display:flex;align-items:center;justify-content:flex-start;padding:0 16px 12px}.blocks-header h3{font-size:15px;font-weight:400;flex:1 0 auto}.block{padding-top:7px}.block:hover{-ms-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1)}.shiny,.shiny:before{display:inline-block}@-webkit-keyframes shiny-btn{0%{-webkit-transform:scale(0) rotate(45deg);opacity:0}80%{-webkit-transform:scale(0) rotate(45deg);opacity:.5}81%{-webkit-transform:scale(4) rotate(45deg);opacity:1}100%{-webkit-transform:scale(50) rotate(45deg);opacity:0}}.shiny{overflow:hidden;position:relative}.shiny:before{position:absolute;content:'';top:-180px;left:0;width:30px;height:100%;background-color:#fff;animation:3s ease-in-out infinite shiny-btn}@keyframes bounce{0%,15%,25%,5%{-webkit-transform:translateY(0);transform:translateY(0)}10%{-webkit-transform:translateY(-20px);transform:translateY(-20px)}20%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}}img.bounce{animation:5s infinite bounce}@keyframes shakeMe{10%,14%,18%,2%,6%{transform:translate3d(-5px,0,0)}12%,16%,4%,8%{transform:translate3d(5px,0,0)}18.1%{transform:translate3d(0,0,0)}}.shake{animation:5s infinite shakeMe}